
.event-form {
    background-color: $light-color;
    max-width: 80%;
    border-radius: 5px;
    padding: 20px;
    
    h2 {
        font-size: 20px;
        text-align: center;
        text-shadow: 1px 1px grey;
    }

    i {
        font-size: 20px;
        color: $dark-color;
    }
}

@media (min-width: 900px) {
    .event-form {
        max-width: 800px;
    }
}
